<div class="card-deck">
    <div class="card">
        <div class="card-header bg-success">INFORMACIÓN DE LA MATERIA</div>
        <div class="card-body">
            <div class="titulo">
                <a href="http://www.frc.utn.edu.ar" target="_blank">
                    <img src="../../../assets/images/utn.png" class="img-fluid" alt="utn" id="utn">
                </a>
                <p class="card-text">UNIVERSIDAD TECNOLÓGICA NACIONAL<br>FACULTAD REGIONAL CÓRDOBA</p>
            </div>

            <hr>

            <div class="cuerpo">
                <p class="card-text">DISEÑO DE LENGUAJES DE CONSULTA</p>
                <p class="card-text">CURSO 4K06</p>
                <p class="card-text">TPU-G004</p>
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="card-header bg-success">INTEGRANTES DEL GRUPO</div>
        <div class="card-body nombres">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">ACOSTA, FACUNDO LEONEL</li>
                <li class="list-group-item">COCUZZA, CAMILA</li>
                <li class="list-group-item">FERNANDEZ, DAMIAN ARNALDO</li>
                <li class="list-group-item">PAILLET, LUCAS MARIO</li>
              </ul>
        </div>
    </div>
</div>
